<% if (@person.new_user? || (@person.expenseless? && @person.paymentless?)) %>
	<div id="owe">
	  <div id="oweTop">
	  </div>
	  <div id="oweMiddle">
			<div class="single_column">
				<h2>First time here?</h2>
				<h2>
					Get started by <%= link_to "adding a new expense", new_expense_path %> 
					or <%= link_to "adding a new payment", new_payment_path %>. 
					<% if @person.roommateless? %>
						Get your roommates involved by <%= link_to "adding them to MyRoommate", new_roommate_path %>.
					<% end %>
				</h2>
			</div>
			<div class="clearfix"></div>
		</div>
		<div id="oweBottom"></div>
	</div>
<% else %>
	<div id="owe">
	  <div id="oweTop">
	    <div class="column_1">
	      <h2>Who I owe</h2>
	    </div>

	    <div class="column_2">
	      <h2>Who owes me</h2>
	    </div>
	  </div>
	  <div id="oweMiddle">

	      <div class="column_1">
				  <ul>

				    <% @person.all_debts_owed.each do |d| %>
				    	<li><%= d[:person] %>: $<%= d[:amount] %></li>
				    <% end %>

				  </ul>
				</div>

				<div class="column_2">
				  <ul>

				    <% @person.all_debts_loaned.each do |d| %>
				    	<li><%= d[:person] %>: $<%= d[:amount] %></li>
				    <% end %>

				  </ul>
				</div>

	    <div class="clearfix"></div>
	  </div>
	  <div id="oweBottom"></div>
	</div>
<% end %>