	<div class="clearfix"></div>
  
  <div id="header">
    <h1>
			<div id="house_name">	
				<%= @house.name %> <%= link_to "edit", edit_house_path(@house), :class => "edit", :id => "houseEditLink" %>
			</div>
			<%= form_for @house, :html => {:id => 'house_name_home', :style => "display:none"} do |f| %>
				<%= f.text_field :name %><button class="inline">Save</button>
			<% end %>
		</h1>
    <%= link_to '', new_expense_path, {:id => 'newExpense'}%>
    <%= link_to '', new_payment_path, {:id => 'newPayment'}%>
  </div>
  <div class="clearfix"></div>
  
  <%= render :partial => 'summary' %>

	<%= render :partial => 'expenses/dashboard' %>
  
  <%= render :partial => 'payments/dashboard' %>
  
 	<div id="roommates">
    <%= link_to '', new_person_path,  {:class => 'addBanner'}%>
    <div id="roommatesHeader" class="boxHeader"></div>
    <div id="roommatesMiddle" class="boxMiddle">
      <div class='column_1'>
				<ul>
	        <% for roommate in @house.people %>
	          <li>
							<span class='expenseName'><%= roommate.name %></span>
							<span class='amount'></span>
							<span class='expenseSmall'></span>
							<span class='expenseDate'></span>
							<div class="clearfix"></div>
						</li>
	        <% end %>
	      </ul>
			</div>
    </div>
    <div id="roommatesFooter" class="boxFooter"></div>
  </div>
  
  <div class="clearfix"></div>
  