	<div class="clearfix"></div>
  
  <div id="header">
    <h1>
			<div id="house_name">	
				<%= @house.name %> <%= link_to "edit", edit_house_path(@house), :class => "edit", :id => "houseEditLink" %>
			</div>
			<%= form_for @house, :html => {:id => 'house_name_home', :style => "display:none"} do |f| %>
				<%= f.text_field :name %><button class="inline">Save</button>
			<% end %>
		</h1>
    <%= link_to '', new_expense_path, {:id => 'newExpense'}%>
    <%= link_to '', new_payment_path, {:id => 'newPayment'}%>
  </div>
  <div class="clearfix"></div>
  
  <%= render :partial => 'summary', :locals => {:person => @person} %>

	<%= render :partial => 'expenses/dashboard', :locals => {:person => @person, :house => @house} %>
  
  <%= render :partial => 'payments/dashboard', :locals => {:person => @person, :house => @house}  %>
  
 	<%= render :partial => 'people/dashboard', :locals => {:house => @house} %>
  
  <div class="clearfix"></div>
  