%section.bounded
  .half-container.bounded
    %h3.ribbon-header
      Log In

    = form_for @person_session, :url => session_path do |form|
      .input
        = form.label      :email, "Email"
        = form.text_field :email

      .input
        = form.label          :password, "Password"
        = form.password_field :password

      .input.center
        %button.btn.btn-primary( type="submit" ) Log In

    .clearfix
