
<div id="header">
  <h1><%= @person.name %></h1>
</div>

<div class="clearfix"></div>

<div class="goldBoxMiddle">
  <%= form_for(@person, :url => account_save_path) do |f| %>

    <%= render :partial => 'form', :locals => {:f => f} %>
    <div class="actions">
      <button type="submit">Save Profile</button> or <%= link_to 'cancel', root_path(), {:class => 'cancel'} %>
    </div>
  <% end %>
  
</div>

<div class="goldBoxBottom"></div>

<div id="roommates">
  <div class="boxHeader"></div>
  <div id="roommatesMiddle" class="boxMiddle">
    <br />
    <br />
    <%= form_for(@person, :url => account_save_password_path) do |f| %>
      <div class="field">
        <%= f.label :password, raw('Password <span class="small">Leave blank to leave your password alone</span>') %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, raw('Password Confirmation <span class="small">Re-enter your password</span>') %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions">
        <button type="submit">Save Password</button> or <%= link_to 'cancel', root_path(), {:class => 'cancel'} %>
      </div>
    <% end %>
  </div>
  <div id="roommatesFooter" class="boxFooter"></div>
</div>

<div class="clearfix"></div>