<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Email:</b>
  <%= @person.email %>
</p>

<h2>Debts Loaned</h2>

<ul>

<% @person.all_debts_loaned.each do |d| %>
	<li><b></b>: <%= d[:person] %></b>: <%= d[:amount] %></li>
<% end %>

</ul>

<h2>Debts Owed</h2>

<ul>

<% @person.all_debts_owed.each do |d| %>
	<li><b><%= d[:person] %></b>: <%= d[:amount] %></li>
<% end %>

</ul>

<h2>Recent Payments</h2>

<%= link_to 'Edit', edit_house_person_path(@house, @person) %> |
<%= link_to 'Payments', house_person_payments_path(@house, @person) %> |
<%= link_to 'Back', house_people_path(@house) %>
