<h1><%= @house.name %></h1>

<h2>People</h2>
	
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Email</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @house.people.each do |person| %>
	  <tr>
	    <td><%= person.name %></td>
	    <td><%= person.email %></td>
	    <td><%= link_to 'Show', house_person_path(@house,person) %></td>
	    <td><%= link_to 'Edit', edit_house_person_path(@house, person) %></td>
	    <td><%= link_to 'Destroy', house_person_path(@house, person), :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

<h2>Expenses</h2>

<table>
  <tr>
    <th>Name</th>
		<th>Amount</th>
		<th>Who Paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @house.expenses.each do |expense| %>
  <tr>
    <td><%= expense.name %></td>
		<td><%= expense.amount %></td>
		<td><%= expense.debts.first.loaner.name%>
    <td><%= link_to 'Show', house_expense_path(@house, expense) %></td>
    <td><%= link_to 'Edit', edit_house_expense_path(@house, expense) %></td>
    <td><%= link_to 'Destroy', house_expense_path(@house, expense), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br /><br />

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'People', house_people_path(@house) %> |
<%= link_to 'Expenses', house_expenses_path(@house) %> |
<%= link_to 'Back', houses_path %>
