<u>A new expense has been created on MyRoommate</u><br /><br />

Hey, <%= @creator.name %> created a new expense, that <%= @expense.who_paid %> paid for. They spent $<%= @expense.amount %> paying for <%= @expense.name %>.  Your share is $<%= @debt.amount %><br /><br />

Login to <a href="http://www.myroommateapp.com">MyRoommate</a> to see who owes who.<br /><br />

- MyRoommate Mailer Monkey