%section.light.first
  .container
    .span8.offset2
      #carousel-homepage.carousel.slide{ :data => { :ride => "carousel" } }
        -# Indicators
        %ol.carousel-indicators
          %li.active{ :data => { :target => "#carousel-homepage", :"slide-to" => 0 } }
          %li{ :data => { :target => "#carousel-homepage", :"slide-to" => 1 } }
          %li{ :data => { :target => "#carousel-homepage", :"slide-to" => 2 } }

        -# Slides
        .carousel-inner
          .item.active
            = image_tag "icons/view1.png"
            .homepage-caption
              Track Your Everyday Expenses
          .item
            = image_tag "icons/view2.png"
            .homepage-caption
              And not so everyday expenses too...
          .item
            = image_tag "icons/view3.png"
            .homepage-caption
              = link_to raw("Join <br /> Now and forget no more"), new_signup_path

      .clearfix
    .clearfix
  .clearfix

%section.dotted
  .container
    %p
      %span.thin= "".html_safe + "---------"
      =  "A shared household".html_safe + ("&nbsp;" * 19).html_safe
      %br/
      = ("&nbsp;" * 16).html_safe + "doesn’t have to be a" + ("&nbsp;" * 14).html_safe
      %br/
      = ("&nbsp;" * 21).html_safe + "shared hassle"
      %span.thin= "---------"

%section.dark
  %h4 Easy as 1-2-3
  .container
    #buy-stuff.span4
      %p Buy Stuff
    #share-it.span4
      %p Share It
    #profit.span4
      %h5 MyRoommate
      %p Use It

    .clearfix
