<% if @house.paymentless? %>
	<div id="payments">
		<%= link_to '', new_payment_path, {:class => 'addBanner'}%>
		<div id="paymentsHeader" class="boxHeader"></div>
	  <div id="roommatesMiddle" class="boxMiddle">
			<h2>
				Your house doesn't have any payments yet.  <%= link_to "Click here to log your first payment", new_payment_path %>.
			</h2>
		</div>
		<div id="roommatesFooter" class="boxFooter"></div>
	</div>
<% else %>
	<div id="payments">
	  <%= link_to '', new_payment_path, {:class => 'addBanner'}%>
	  <div id="paymentsHeader" class="boxHeader"></div>
	  <div id="roommatesMiddle" class="boxMiddle">
	    <div class="column_1">
	      <h2>People I paid</h2>
	      <ul>
	        <% @person.recent_payments_made.each do |e| %>
	          <li>
							<span class='expenseName'><%= e[:name] %> <%= link_to "Delete", payment_path(e[:id]), :method => :delete, :confirm => "Are you sure want to delete this payment? You cannot undo this.", :class => "smallLink" %></span> 
							<span class='amount'>$<%= e[:amount] %></span> 
							<span class="expenseSmall"></span>
							<span class="expenseDate"><%= e[:created_at].to_s(:short) %></span>
							<div class="clearfix"></div>
						</li>
	        <% end %>
					<li class="last"><%= link_to "More...", payments_path, {:class => "more"} %></li>
	      </ul>
	    </div>
	    <div class="column_2">
	      <h2>People who paid me</h2>
	      <ul>
	        <% @person.recent_payments_received.each do |e| %>
	          <li>
							<span class='expenseName'><%= e[:name] %></span> 
							<span class='amount'>$<%= e[:amount] %></span> 
							<span class="expenseSmall"></span>
							<span class="expenseDate"><%= e[:created_at].to_s(:short) %></span>
							<div class="clearfix"></div>
						</li>
	        <% end %>
					<li class="last"><%= link_to "More...", payments_path, {:class => "more"} %></li>
	      </ul>
	    </div>
			<div class="clearfix"></div>
	  </div>
	  <div id="roommatesFooter" class="boxFooter"></div>
	</div>
<% end %>