<p>
  <b>Person paid:</b>
  <%= @payment.person_paid_id %>
</p>

<p>
  <b>Person paying:</b>
  <%= @payment.person_paying_id %>
</p>

<p>
  <b>Amount in cents:</b>
  <%= @payment.amount_in_cents %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
