- if house.expenseless?
  %section.bounded
    .three-quarter-container.bounded.no-border.dark.empty
      %h3.ribbon-header Recent Expenses

      %p
        No Expenses Yet.
        = link_to "Click here to add one.", new_expense_path if @house.id.present?

- else
  %section.bounded
    .three-quarter-container.bounded.no-border.dark
      .add-new-link
        = link_to "Add Expense", new_expense_path

      %h3.ribbon-header Recent Expenses

      .expenses
        - @house.expenses.order("created_at DESC").limit(10).each do |expense|
          - amount_per_person = expense.amount.cents / expense.debts.count.to_f
          .expense
            .expense-date
              = expense.created_at.to_s(:month_and_day)
            .expense-amount
              = number_to_currency(expense.amount.cents / 100.0)
              .expense-share
                your share is
                %span.currency= number_to_currency(amount_per_person / 100.0)
            .expense-description
              - if expense.loaner == person
                You
              - else
                = expense.loaner.first_name
              %span.expense-small paid for
              = expense.name
              - if expense.notes.present?
                %span.expense-notes
                  = expense.notes

              - if expense.creator == current_person
                %span.expense-small
                  = link_to "delete", expense_path(expense), :method => :delete, :confirm => "Are you sure you want to permanently delete this expense?"
            .clearfix
          .clearfix
