<%= form_for(@expense, :url => expenses_path) do |f| %>
	
	<div class="field">
		<%= f.label :name, raw('Name <span class="small">What\'d you spend the money on?</span>') %>
		<%= f.text_field :name %>
	</div>
  <div class="field">
    <%= f.label :amount, raw('Amount <span class="small">Amount of the expense in dollars</span>')%>
    <%= f.text_field :amount %>
  </div>
	<div class="field">
		<%= f.label :loaner_id, raw('Who paid up front?<span class="small">Who fronted the cash for this expense?</span>') %>
		<%= f.collection_select :loaner_id, @people, :id, :name, {:prompt => true} %>
	</div>
	<div class="field">
		<%= f.label :people, raw('Who responsible for the expense? <span class="small">Check the boxes for the roommates that should help pay for this expense</span>')%>
		<ul class="listInputs">
		  <% @people.each do |person| %>
  			<li>
  			  <input name="expense[people][<%= person.id %>]" type="hidden" value="0" />  			
  			  <input id="expense_people_<%= person.id %>" <%= "checked" if @expense.people["#{person.id}"] == "1" %>  name="expense[people][<%= person.id %>]" type="checkbox" value="1" /> 
  			  <label for="expense_people_<%= person.id %>"><%= person.name %></label>
  			</li>
  		<% end %>
		</ul>
	</div>
	
	<div class="clearfix"></div>
	
	<div class="field">
		<%= f.label :notes, raw('Notes <span class="small">Any notes or comments for the expense</span>') %>
		<%= f.text_area :notes, :cols => 60, :rows => 3 %>
	</div>
	
  <div class="actions">
    <button type="submit" name="commit" id="expense_submit">Create Expense</button> or <%= link_to 'cancel', root_path, {:class => "cancel"} %>
  </div>
<% end %>
