<div id="header">
  <h1>Expenses</h1>
  <div class="clearfix"></div>
</div>

<div id="roommatesMiddle" class="boxMiddle">
      <div class="single_column">
        <h2>All Expenses</h2>
        <ul>
					<% @expenses.each do |e| %>
            <li <%= "class='owner'" if e.loaner_id == @current_user.id %>>
							<span class='expenseName'><%= e.name %></span> 
							<span class='amount'>$<%= e.amount %></span> 
							<span class='expenseSmall'><%= "#{e.notes}" unless e.notes.nil? %></span>
							<span class="expenseDate"><%= e.created_at.to_s(:short) %></span>
							<div class="clearfix"></div>
						</li>
          <% end %>
					<li class="last"><%= link_to "More...", expenses_path, {:class => "more"} %></li>
        </ul>
      </div>	
			<div class="clearfix"></div>
</div>

<div class="boxFooter"></div>
