!!!
%html
  %head
    = render :partial => 'layouts/head'

    = stylesheet_link_tag :application

  %body

    %header
      .container
        %h1
          = link_to "MyRoommate", root_path

        - if current_person.present?
          .span2.offset9
            %a{ :href => logout_path }
              .login-container
                #login-icon
                .login
                  Hi,
                  = current_person.name

    #main-content
      = yield

    = render :partial => 'layouts/scripts'
    = render :partial => 'layouts/tracking'
