<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">

  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!--[if IE]><![endif]-->

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>My Roommate</title>
  <meta name="description" content="Sowftware to help roommates keep track of who owe's who money.">
  <meta name="author" content="halfSquared">
	
	<%= csrf_meta_tag %>
	
  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
  device-width : Occupy full width of the screen in its current orientation
  initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
  maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
  -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">


  <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">


  <!-- CSS : implied media="all" -->
	<%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'application' %>

  <!-- For the less-enabled mobile browsers like Opera Mini -->
	<%= stylesheet_link_tag 'handheld', :media => 'handheld' %>

 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<%= javascript_include_tag 'modernizr-1.5.min' %>

</head>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

  <div id="container">
    <header>
			<% if logged_in? %>
			  <div id="accountInfo">
			    <div class="center">
			      <% if notice %>
			        <p class="notice"><%= notice %></p>
			      <% end %>
			      <% if flash[:error] %>
			        <p class="error"><%= flash[:error] %>
			      <% end %>
			      <ul>
			        <li><%= link_to "Home", root_path %> |</li>
							<li><%= link_to "Account", account_path %> |</li>
			        <li><%= link_to "Logout", logout_path %></li>
			      </ul>
			    </div>
			  </div>
			<% elsif notice || flash[:error] %>
				<div id="accountInfo">
				  <div class="center">
				    <% if notice %>
			        <p class="notice"><%= notice %></p>
			      <% end %>
			      <% if flash[:error] %>
			        <p class="error"><%= flash[:error] %>
			      <% end %>
				  </div>
				</div>
			<% end %>
    </header>
    
    <div id="main">
			<div id="contentTop">
				<h1>MyRommate</h1>
			</div>

			<div id="content"> 

			  <%= yield %>
			</div>
			</div>
			<div id="contentBottom"></div>
    </div>
    
    <footer>

    </footer>
  </div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="js/jquery-1.4.2.min.js"><\/script>')</script>
	<%= javascript_include_tag 'rails' %>
	
	<%= javascript_include_tag 'plugins' %>
	<%= javascript_include_tag 'application' %>

  <!--[if lt IE 7 ]>
		<%= javascript_include_tag 'dd_belatedpng' %>
  <![endif]-->


 <% if Rails.env.production? %>
	  <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
	       change the UA-XXXXX-X to be your site's ID -->
	  <script>
	   var _gaq = [['_setAccount', 'UA-18710827-1'], ['_trackPageview']];
	   (function(d, t) {
	    var g = d.createElement(t),
	        s = d.getElementsByTagName(t)[0];
	    g.async = true;
	    g.src = '//www.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g, s);
	   })(document, 'script');
	  </script>
	<% else %>
		<!-- yui profiler and profileviewer - remove for production -->
		<%= javascript_include_tag 'profiling/yahoo-profiling.min' %>
		<%= javascript_include_tag 'profiling/config' %>
	  <!-- end profiling code -->
	<% end %>
  
</body>
</html>
