!!!
%html
  %head
    = render :partial => 'layouts/head'
    = stylesheet_link_tag :application

  %body

    %header
      .container
        %h1
          = link_to "MyRoommate", root_path
        %h3 The easiest way to track your household expenses

        .span2.offset9
          %a{ :href => login_path }
            .login-container
              #login-icon
              .login
                = link_to "Log In", login_path

    = yield

    %section.light.last
      .container
        .span1
          .footer-link
            -#= link_to "- About Us -", "#"

    = render :partial => 'layouts/tracking'
